.dynhead{
	background-color: white;
	height: 120px;
}

#headerleft{
	background-image: url("../img/eduweb.png");
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding: 60px 0px 58px 0px;
	border:1px solid #1a2238;
}

#headercenter{
	text-align: center;
	justify-content: center;
	color: #1a2238;
	padding-top: 50px;
	font-weight: bolder;
	font-size: 40px;
	text-align: center;
	justify-content: center;
	text-transform: uppercase;
	color: #1a2238;
	font-family: helvetica;
}

#headerright{
	text-align: center;
	justify-content: center;
	color: #1a2238;background-image: url("../img/admin.png");
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0px 0px 60px 0px;
	border:2px solid #1a2238;
}

#content{
	background-color: white;
	padding:10px 0;
}

#mainpanel{
	box-sh adow:-4px -4px 30px 2px black;
}

#mainpanel div{
	background-color: #FF6A3D;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#mainpanel div:hover{
	background-color: #aa6a3d;
	}

#mainpanel div a:hover{
	text-decoration: none;
}

h2{
	font-weight: bolder;
	padding: 10px;
	padding-bottom: 0px;
}

h5{
	color: white;
	padding-top: 0px;
	padding: 10px;
}

#sidebar{
	padding-right: 30px;
}

#sidebar div{
	margin: 0;
	margin-bottom: 20px;
	padding-top: 15px;
	height: 50px;
	border-radius: 10px 0 10px 0;
	justify-content:center;
	border: 1px solid #ff6a3d;
	background-color: #dce1e3;
	color: black;
	font-weight: bolder;
}

#sidebar div a{
	text-decoration: none;
	color: black;
}

#sidebar div:hover{
	background-color: #dce1e3;
	background-color: #edf2f4
}
