/*New User Registration Page Styles*/
.headerlink{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }

#register{
	text-align: center;
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

/*Peculiar Body Design*/
body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

h1{
	color: red;
	font-weight: bolder;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

/*Form Styles*/
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	color: #1A2238;
}

.form p{
	font-weight: bolder;
	text-align: center;
	color: #ff1f6c;
}

/*Input Styles*/

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 60%;
}

.register-input{
	background-color: #1a2238;
	border-width :4px;
  	border-style: solid;
  	border-color: black;
  	border-radius: 30px;
  	text-align: center;
  	color: white;
}

.register-button {
	width: 30%;
	border-radius: 30px;
	border: 1px solid #FF4B2B;
	background-color: #FF6A3D;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.register-button:active {
	transform: scale(0.95);
}

.register-button:focus {
	outline: none;
}

.register-button:hover{
	background-color: #FF4B2B;
}

.register-button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}